.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.birthdays {
  border: 1px solid black;
  border-radius: 15px;
  height: fit-content;
  padding: 0 1rem 1rem 1rem;
}

.title {
  margin: auto;
  text-align: center;
}

.employeeList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.letterGroup{
  margin: 1rem;
}

.letterEmployees{
  margin-left: 1rem;
}

.employeeName{
  display: inline-block;
  min-width: 130px;
}

